<?xml version="1.0"?>
<appSettings>
  <!-- ==================== 系统属性设置 ==================== -->
  <!-- 软件名称-->
  <add key="SoftName" value="温州日报传媒有限公司终端管理系统" />
  <!-- 软件安装路径-->
  <add key="InstallDir" value="/" />
  <!-- 管理员目录-->
  <add key="AdminDir" value="Admin" />
  <!-- 数据表前缀-->
  <add key="Prefix" value="wzrb_" />
  <!-- 上传文件最大值 单位B-->
  <add key="FileMaxLength" value="6120000" />
  <!-- 登录Cookie名称-->
  <add key="CookieName" value="wzrb"/>
  <!-- 前台用户登录Cookie名称-->
  <add key="UserCookieName" value="Userwzrb"/>
  <!-- Cookie超时时间，单位分-->
  <add key="Expires" value="0"/>
  <!-- 系统日志是否开启-->
  <add key="LogIsOpen" value="True" />
  <!-- 系统日志保存路径-->
  <add key="LogFilePath" value="App_Logs" />
  <!-- 软件版权信息-->
  <add key="CopyRight" value="" />
  <!-- ==================== 系统缓存配置 ==================== -->
  <!-- 用户信息缓存-->
  <add key="KEY0000" value="/Login/TokenID_{0}"/>
  <!-- ==================== 系统通用消息 ==================== -->
  <add key="MSG0000" value="提示信息"/>
  <add key="MSG0001" value="发生未知错误。"/>
  <add key="MSG0002" value="数据库连接不正常。"/>
  <add key="MSG0003" value="无任何数据被修改。"/>
  <add key="MSG0004" value="记录未找到，可能已被其他人删除。"/>
  <add key="MSG0005" value="恭喜您，新增成功。"/>
  <add key="MSG0006" value="恭喜您，更新成功。"/>
  <add key="MSG0007" value="恭喜您，操作成功。"/>
  <add key="MSG0008" value="恭喜您，删除成功。"/>
  <add key="MSG0009" value="当前记录不允许被删除。"/>
  <add key="MSG0010" value="当前记录 {0} 不允许被删除。"/>
  <add key="MSG0011" value="{0} 有子节点不允许被删除，有子节点还未被删除。"/>
  <add key="MSG0012" value="{0} 有明细不允许被删除，有明细还未被删除。"/>
  <add key="MSG0013" value="拒绝登入，用户已经在在线。"/>
  <add key="MSG0014" value="拒绝登入，网卡Mac位置不符合限制条件。"/>
  <add key="MSG0015" value="拒绝登入，IP位置不符限制条件。"/>
  <add key="MSG0016" value="成功删除 {0} 笔记录。"/>
  <add key="MSG0017" value="用户已经上线，不允许重复登入。"/>
  <add key="MSG0018" value="登入被拒绝。"/>
  <add key="MSG0019" value="{0} 在在线，不允许删除。"/>
  <add key="MSG0020" value="目前用户 {0} 不允许删除自己。"/>
  <add key="MSG0021" value="下线通知，您的账号在另一地点登录，您被迫下线。"/>
  <add key="MSG0022" value="您的帐户登录异常，被系统锁定 {0} 分钟，若有疑问请联系系统管理员。"/>
  <add key="MSG0023" value="很抱歉，操作失败。"/>
  <add key="MSG0024" value="数据已经被引用，有关联数据在。"/>
  <add key="MSG0025" value="您确认初始化系统吗？"/>
  <add key="MSG0026" value="验证码输入不正确。"/>
  <add key="MSG0027" value="调用被拒绝，未经授权的访问。"/>
  <add key="MSG0028" value="服务调用被拒绝，用户未登录。"/>
  <add key="MSG0029" value="日志清除成功。"/>
  <add key="MSG0030" value="拒绝登入，IP位置不符限制条件。"/>
  <add key="MSG0031" value="Session超时，请重新登录。"/>
  <!-- ==================== 系统通用消息 ==================== -->
</appSettings>