.wrap-login {
  width: 650px;
  height: 300px;
  margin: 0 auto;
  padding-top: 195px; }

.wrap-reg {
  width: 650px;
  height: 300px;
  margin: 0 auto; }

.login {
  width: 650px;
  height: 300px;
  background: url("../images/bglogin1.png"); }

.reg {
  width: 650px;
  height: 550px;
  background: url("../images/bgreg.png"); }